/* body {
	margin-left: 30px;
} */

.ShopCaption {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 35px;
	color: #696969;
	margin-bottom: 10px;
}

.IShop {
	border: 1px solid #D3D3D3;
}

.ItemSelected {
	background-color: #31768883;
}

thead {
	font-size: 19px;
}

th {
	padding: 0 5px 0 5px;
}

.btnNP {
	margin-top: 10px;
	border-radius: 5px;
	padding: 5px;
}

