 td {
	border: 1px solid #D3D3D3;
	vertical-align: middle;
	padding: 0 5px 0 5px;
	text-align: center;
}

img {
	width: 50%;
}

.ItemButton{
	margin:7px 7px 7px 0 ;
	border-radius: 5px;
	padding: 5px;
}

/* .Title {
	width: 65px;
} */

/* .ItemImg {
	width: 220px;
} */

/* .Price {
	width: 50px;
}

.Count {
	width: 40px;
} */